<nav class="navbar navbar-light bg-dark mb-3">
    <a href="/" class="nav-brand">
        <img class="logo" src="/img/logo.png" alt="">
    </a>

    <a href="/perguntar" class="btn btn-dark">Perguntar</a>

</nav>